PORT=5000
PRIVATE_KEY=
CONTRACT_ADDRESS=
GANACHE_URL=http://localhost:7545
PINATA_API_KEY=
PINATA_SECRET=

# Authorized Wallets (Comma-separated)
ADMIN_WALLETS=
PROFESSOR_WALLETS=

# Security
JWT_SECRET=yoursupersecretjwtkey
SESSION_SECRET=yoursupersecretsessionkey
